@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 2560px;
  width: 50.6%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.lower_case {
  text-transform: lowercase;
}

.upper_case {
  text-transform: uppercase;
}

.capital {
  text-transform: capitalize;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

header {
  width: 100%;
  position: absolute;
}

header .nav_first_layer {
  padding: 1.5% 0 2.4%;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 a {
  color: rgb(245,251,254);
  font-size: 40px;
  text-transform: capitalize;
  word-spacing: -12px;
}

header h1 a:after {
  color: rgb(79,186,252);
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  vertical-align: top;
}

header form {
  display: flex;
  position: relative;
  right: 7px;
}

header form input {
  padding: 7.5px 12px;
  border: 1px solid rgb(54,159,227);
  font-size: 11px;
}

header form input[type='submit'] {
  padding: 7.2px 12.5px;
  border: none;
  background-color: rgb(54,159,227);
  color: rgb(245,251,254);
  font-size: 12px;
}

header form input[type='submit']:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  position: relative;
  font-size: 10px;
  text-indent: -9999px;
}

.hamburger::before {
  position: absolute;
  left: -14px;
  color: white;
  content: "\f0c9";
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

header nav {
  background-color: rgba(54,159,227,0.5);
  text-align: center;
}

nav ul {
  padding: 0 0 0 11px;
}

nav ul li {
  padding: 6.5px 3px;
}

nav ul li + li::before {
  padding: 0 8px 0 0;
  color: rgb(54,159,227);
  content: '|';
}

nav ul a {
  color: rgba(255, 255, 255,0.8);
  text-transform: capitalize;
  font-size: 11.8px;
  letter-spacing: 0.2px;
  transition: all 0.5s ease;
}

nav ul a:hover {
  text-decoration: underline;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.modal {
  width: 100%; 
  height: 100%;
  padding-top: 100px;
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
}

.modal_caption {
  padding: 10% 20%;
  position: absolute;
  left: 20%;
  animation-name: zoom;
  animation-duration: 0.6s;
  background-color: rgb(88, 128, 170);
  color: white;
  font-size: 20px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
}

.sign_up {
  padding: 17% 0 7.2%;
  background-image: url('http://placehold.it/1350x1000/225FAB');
  background-position: center;
}

.sign_up h2 {
  padding: 0 0 6px;
  color: rgb(245,251,254);
  font-size: 35.5px;
  text-transform: capitalize;
}

.sign_up_info span {
  color: rgb(79,186,252);
  font-size: 26px;
}

.form {
  position: relative;
  padding: 0 0 4%;
}

.form .arrow {
  position: absolute;
  top: 40%;
  right: 2%;
}

.form .arrow a {
  position: relative;
  text-indent: -9999px;
}

.form .arrow a::before {
  padding: 3px 11px;
  position: absolute;
  right: 0px;
  background: rgb(128, 128, 128);
  border-radius: 50%;
  color: rgb(245,251,254);
  content: "\f106";
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.form ul {
  padding: 3% 0 2.2%;
}

.form ul li .euro_finance {
  text-transform: capitalize;
}

.form ul li a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 9px;
}

.form ul li a:hover {
  text-decoration: underline;
}

.form ul li + li::before {
  padding: 0 3px 0 0;
  content: '>';
  font-size: 8px;
}

.form ul li:nth-child(2) a {
  font-weight: bold;
}

.form h2 {
  color: rgb(88, 128, 170);
  font-size: 26px;
}

.form form label {
  padding: 2% 0 1%;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-size: 10.5px;
}

.form form input[type="text"] {
  width: 213px;
  height: 22px;
  border: .5px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0 0 3px 1px rgba(136, 136, 136, 0.2);
}

.select_style {
  display: inline;
  position: relative;
}

.select_style::after {
  position: absolute;
  top: 3px;
  right: 10px;
  color: rgba(255, 255, 255,0.9);
  content: "\f0dc";
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  vertical-align: middle;
}

.select_style select {
  width: 218px;
  padding: 7.5px 8px;
  border: none;
  border-radius: 3px;
  appearance: none;
  color: rgba(255, 255, 255,0.8);
  background: rgb(54,159,227);
  font-size: 11px;
}

.form_radio div label {
  border-radius: 0;
  display: inline;
  text-transform: capitalize;
}

.form_radio .euro_finance {
  text-transform: capitalize;
  word-spacing: -3px;
}

.form_radio input[type = 'radio'] {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  appearance: none;
  background: rgb(255, 255, 255);
}

.form_radio input[type = 'radio']:checked {
  background: rgb(0, 0, 0);
}

.form_radio input[type = 'radio']:focus {
  outline: none;
}

.policy {
  padding: 2% 0 0;
}

.policy span, .policy a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 10.5px;
}

.policy a {
  color: rgb(89,179,237);
}

.policy a:hover {
  text-decoration: underline;
}

.submit_container {
  padding: 2% 0;
}

form input[type='submit'] {
  padding: 8px 48px;
  border: none;
  border-radius: 3px;
  background: rgb(54,159,227);
  color: rgba(255, 255, 255,0.8);
  font-size: 10.5px;
}

form input[type='submit']:focus {
  outline: none;
}

.description {
  position: relative;
  background-image: linear-gradient(to right, rgb(33,94,168), rgb(28,49,98));
  color: rgb(255, 255, 255);
}

.description a {
  color: rgb(255, 255, 255);
}

.description .arrow {
  position: absolute;
  bottom: 30px;
  right: 2%;
}

.description .arrow a {
  position: relative;
  text-indent: -9999px;
}

.description .arrow a::before {
  padding: 3px 11px;
  position: absolute;
  right: 0px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: rgb(245,251,254);
  content: "\f106";
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.arrow a:hover::before {
  background: rgb(34, 95, 171);
}

.description_list {
  padding: 4% 0 8%;
  display: flex;
  justify-content: space-between;
}

.description_list div {
  flex-basis: 27.333%;
  text-transform: capitalize;
}

.description_list div:nth-child(1) h2 {
  border-bottom: 1px solid gray;
  font-size: 25px;
}

.description_list div:nth-child(1) h2:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  vertical-align: top;
  color: rgb(79,186,252);
}

.description_list div:nth-child(1) div {
  padding: 5px 0 0;
}

.description_list div:nth-child(2) {
  font-size: 12px;
}

.description_list div:nth-child(2) ul {
  padding: 10px 0 0;
}

.description_list div:nth-child(2) li {
  display: block;
}

.description_list div:nth-child(2) li a:hover {
  text-decoration: underline;
}

.description_list div:nth-child(3) ul {
  padding: 10px 0 0;
  position: relative;
  left: -17px;
}

.description_list div:nth-child(3) ul li {
  margin: 0 16px;
}

.linkedin {
  text-indent: -9999px;
  display: block;
  position: relative;
}

.linkedin::before {
  padding: 5px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-family: "Font Awesome 5 Brands";
  position: absolute;
  color: rgb(40,120,181);
  content: "\f0e1";
  vertical-align: middle;
  font-weight: 900;
  left: 0px;
  text-indent: 0;
}

.linkedin:hover::before {
  background-color: rgb(0, 0, 0, 0.2);
}

.twitter {
  text-indent: -9999px;
  display: block;
  position: relative;
}

.twitter::before {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-family: "Font Awesome 5 Brands";
  position: absolute;
  color: rgb(57,161,242);
  content: "\f099";
  vertical-align: middle;
  font-weight: 900;
  left: 0px;
  text-indent: 0;
}

.twitter:hover::before {
  background-color: rgb(0, 0, 0, 0.2);
}

.youtube {
  text-indent: -9999px;
  display: block;
  position: relative;
}

.youtube::before {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-family: "Font Awesome 5 Brands";
  position: absolute;
  color: rgb(246,33,0);
  content: "\f167";
  vertical-align: middle;
  font-weight: 900;
  left: 0px;
  text-indent: 0;
}

.youtube:hover::before {
  background-color: rgb(0, 0, 0, 0.2);
}

.facebook {
  text-indent: -9999px;
  display: block;
  position: relative;
}

.facebook::before {
  padding: 5px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-family: "Font Awesome 5 Brands";
  position: absolute;
  color: rgb(73,106,175);
  content: "\f39e";
  vertical-align: middle;
  font-weight: 900;
  left: 0px;
  text-indent: 0;
}

.facebook:hover::before {
  background-color: rgb(0, 0, 0, 0.2);
}

.description_list h2 {
  text-transform: capitalize;
  word-spacing: -5px;
}

.description h3 {
  font-size: 14px;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  background-color: rgb(23,71,129);
}

footer a:hover {
  text-decoration: underline;
}

footer .wrapper {
  padding: .5% 0;
  display: flex;
  justify-content: space-between;
}

footer ul li + li:before {
  padding: 0 8px 0 0;
  color: rgb(255, 255, 255);
  content: '|';
  font-size: 10px;
  vertical-align: center;
}

footer ul li a {
  font-size: 10px;
  text-transform: capitalize;
}

footer div span, footer div a {
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-transform: capitalize;
}

footer .euro_finance {
  word-spacing: -3px;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1170px starts here*/
@media only screen and (max-width: 1170px) {
  nav ul a {
    font-size: 9px;
  }

}  

/*media query for 976px starts here*/
@media only screen and (max-width: 976px) {
  header h1 a {
    font-size: 23px;
    word-spacing: -7px;
  }
  
  nav ul a {
    font-size: 5px;
  }

  .sign_up {
    padding: 20% 0 7.2%;
  }

  .description_list div:nth-child(3) ul {
    padding: 10px 0 0;
    position: relative;
    left: -14px;
  }

  .description_list div:nth-child(3) ul li {
    margin: 0 10px;
  }

  .description_list div:nth-child(3) ul li a {
    font-size: 7px;
  }

  footer ul li a {
    font-size: 5px;
  }
  
  footer div span, footer div a {
    font-size: 5px;
  }

}  

/*media query for 717px starts here*/
@media only screen and (max-width: 717px) {
  header h1 a {
    font-size: 18px;
    word-spacing: -5px;
  }

  header h1 a:after {
    font-size: 15px;
  }

  header form input {
    padding: 7.5px 5px;
    width: 50px;
  }

  header form input[type='submit'] {
    padding: 7.2px 5px;
  }
  
  nav ul a {
    font-size: 4px;
  }

  .sign_up {
    padding: 20% 0 7.2%;
  }

  .description_list {
    flex-wrap: wrap;
  }

  .description_list div {
    padding: 8% 0;
    flex-basis: 100%;
    text-align: center;
  }

  .description_list div:nth-child(3) ul {
    padding: 10px 0 0;
    position: relative;
    left: -14px;
  }

  .description_list div:nth-child(3) ul li {
    margin: 0 10px;
  }

  .description_list div:nth-child(3) ul li a {
    font-size: 7px;
  }

  .description_list div:nth-child(3) ul {
    left: -7px;
  }

  .linkedin::before {
    padding: 5px 6px;
  }

  .facebook::before {
    padding: 5px 6px;
  }

  footer ul li + li:before {
    padding: 0 2px 0 0;
  }

  footer ul li a {
    font-size: 5px;
  }
  
  footer div span, footer div a {
    font-size: 5px;
  }

}

/*media query for 639px starts here*/
@media only screen and (max-width: 639px) {
  header .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  header h1{
    padding: 5%;
  }

  .hamburger::before {
    left: -4px;
  }

  header nav {
    background-color: rgb(54,159,227);
  }

  header form input {
    width: 100%;
    margin: 0 0 5%;
  }
  
  header form input[type='submit'] {
    padding: 7.7px 12.5px;
  }
  
  .hamburger {
    display: block;
  }

  nav {
    display: none;
  }

  nav ul {
    padding: none;
  }

  nav ul li {
    padding: 0;
    display: block;
    text-align: center;
  }

  nav ul li a {
    font-size: 8px;
  }

  nav ul li + li::before {
    padding: none;
    color: none;
    content: none;
  }

  .sign_up {
    padding: 32% 0 7.2%;
  }

  footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
}